{% block title %}Applied{% endblock %}

{% block content %}
<div class="card card-default">
  <div class="card-header">

        <button style="align-right" class="btn btn-warning btn-small">Apply</button>
        <button style="align-right" class="btn btn-warning btn-small">Favorite</button>
        <button style="align-right" class="btn btn-warning btn-small">Archive</button>
        <button style="align-right" class="btn btn-danger btn-small">Delete</button>


  </div>
</div>
<div class="card card-default">
  <div class="card-header">
    <i class="fas fa-search"></i>
          Item Detail
  </div>
       <div id="content-main">
  <div class="row">
             <div class="col-lg-4 col-md-6 col-sm-6 col-12">
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{item.uuid}}</h3>
                  <p>Item World ID (Unique)</p>
                </div>
                <div class="icon">
                  <i class="fas fa-building"></i>
                </div>
              </div>
            </div>
          
          
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
             
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{item.name}}</h3>
                  <p>Item Name</p>
                </div>
                <div class="icon">
                  <i class="fas fa-user-tie"></i>
                </div>

              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </body>
{% endblock %}

